# Core scientific computing
numpy > 2.0.0
scipy
scikit-learn
PyWavelets

# Visualization
matplotlib
seaborn
tqdm

# Neuroimaging / signal analysis
mne
pooch

# Utilities
gdown

# Development & tooling
pre-commit
pyside6

# Testing
pytest
pytest-cov
pytest-xdist
